<style type="text/css">

.explainq0:before {
    content: "Q0";
}
.explainq1:before {
    content: "Q1";
}

.explainq2:before {
    content: "Q2";
}

.explainq3:before {
    content: "Q3";
}

.explainq4:before {
    content: "Q4";
}
.explainq5:before {
    content: "Q5";
}
.explainq6:before {
    content: "Q6";
}
.explainq7:before {
    content: "Q7";
}
.explainq8:before {
    content: "Q8";
}
.explainq9:before {
    content: "Q9";
}
.explainq10:before {
    content: "Q10";
}
.explainq11:before {
    content: "Q11";
}
.explainq12:before {
    content: "Q12";
}
.explainq13:before {
    content: "Q13";
}
.explainq14:before {
    content: "Q14";
}
.explainq15:before {
    content: "Q15";
}

.explainq16:before {
    content: "Q16";
}
.explainq17:before {
    content: "Q17";
}

.explainq18:before {
    content: "Q18";
}

.explainq19:before {
    content: "Q19";
}
.explainq20:before {
    content: "Q20";
}

.explain:before {
    background-color: #e2b50f;
    color: #222;
    padding: 0 5px;
    font-weight: bold;
}

.explain {
    background-color: #ffe315;
    color: #222;
    border-bottom: solid 3px #e2b50f;
    padding-right: 5px;
}
</style>